* {
  box-sizing: border-box;
}

body {
  background-color: #263B1B;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  color: #263B1B;
}

.flex-container-menu {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.flex-item-menu-1 {
  padding: 10px;
  flex: 20%;
}

.flex-item-menu-2 {
  padding: 10px;
  flex: 20%;
}

.flex-item-menu-3 {
  padding: 10px;
  flex: 20%;
}

.flex-item-menu-4 {
  padding: 10px;
  flex: 20%;
}

.flex-item-menu-5 {
  padding: 10px;
  flex: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #309C34;
}

.flex-container-about {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  text-align: center;
}

.flex-item-about-img {
  background-color: #75B77B;
  padding: 10px;
  flex: 50%;
}

img {
  border-radius: 200px;
}

.flex-item-about-text {
  background-color: #75B77B;
  padding: 10px;
  flex: 50%;
}

.flex-container-contact {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  text-align: center;
}

.flex-item-contact-left {
  background-color: #75B77B;
  padding: 10px;
  flex: 33%;
}

.flex-item-contact-center {
  background-color: #75B77B;
  padding: 10px;
  flex: 33%;
}

.flex-item-contact-right {
  background-color: #75B77B;
  padding: 10px;
  flex: 33%;
}

.img-github {
  width: 64px;
  height: 64px;
}

.img-linkedin {
  width: 64px;
  height: 64px;
}

.img-telegram {
  width: 64px;
  height: 64px;
}

.flex-item-right {
  background-color: #515151;
  padding: 10px;
  flex: 25%;
}

.flex-item-right-d {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 25%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 1000px) {
  body {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .flex-item-menu-1, .flex-item-menu-2, .flex-item-menu-3, .flex-item-menu-4, .flex-item-menu-5 {
    flex: 100%;
  }
  .flex-item-about-img, .flex-item-about-text {
    flex: 100%;
  }
  .flex-item-contact-left, .flex-item-contact-center, .flex-item-contact-right {
    flex: 100%;
  }
}
